<!-- Interpolation, here title is an expression(template-expression) within that template. -->
<h1 class="heading">{{ title }}</h1>

<h1>Directives:</h1>

<!-- Directives: 3 Types: -->
<!-- 1. Component Directive - normal components -->
<!-- 2. Structural Directives -->

<!-- 2.1 ngIf directive -->
<h2>ngIf</h2>
<p *ngIf="show">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat ad
  consequuntur officia doloribus beatae. Excepturi obcaecati amet saepe beatae
  incidunt distinctio inventore aliquam sit asperiores eligendi nemo, ratione
  minus.
</p>

<hr />

<!-- 2.1. ngFor -->
<h2>ngfor</h2>
<ul>
  <li *ngFor="let skill of skills">{{ skill }}</li>
</ul>
<div class="btn-section"></div>

<hr />

<!-- 3. Attribute Directives -->
<!-- 3.1. ngStyle -->
<!-- here we are actually doing attribute binding -->

<div [style.background-color]="orangeCol" [style.color]="'red'">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
    quibusdam explicabo tempora delectus veniam, ex voluptatem accusamus eius
    debitis dolorem facilis quod. Non ipsum porro laudantium, recusandae id
    atque dolorum.
  </p>
</div>

<!-- But there is a limitation above, we need to bind 10 attributes inorder to apply 10 styles. This can be overcomed by ngStyle directive -->
<h2>ngStyle</h2>
<div
  [ngStyle]="{
    'background-color': greenCol,
    'font-size': smallText,
    padding: '1rem'
  }"
>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
    quibusdam explicabo tempora delectus veniam, ex voluptatem accusamus eius
    debitis dolorem facilis quod. Non ipsum porro laudantium, recusandae id
    atque dolorum.
  </p>
</div>
<hr />

<!-- 3.2. ngClass -->
<div [class.increaseFont]="true" [class.changeFontToCursive]="true">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
    quibusdam explicabo tempora delectus veniam, ex voluptatem accusamus eius
    debitis dolorem facilis quod. Non ipsum porro laudantium, recusandae id
    atque dolorum.
  </p>
</div>

<!-- But there is a limitation above, In order to apply multiple classes we need to perform multiple attribute binding, Inorder to overcome this we need ngClass directive -->

<h2>ngClass</h2>
<div
  [ngClass]="{
    increaseFont: true,
    changeFontToCursive: false,
    backgroundPurple: true
  }"
>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
    quibusdam explicabo tempora delectus veniam, ex voluptatem accusamus eius
    debitis dolorem facilis quod. Non ipsum porro laudantium, recusandae id
    atque dolorum.
  </p>
</div>
<hr />

<!-- Data Binding -->
<h1>Data Binding:</h1>
<!-- Two types: -->
<!-- 1. One Way data Binding -->
<!-- Two Typesof One Way -->
<!-- 1.1 Property Binding - One way data flow from .ts to .html within a component -->
<h2>Property Binding</h2>
<!-- here we are binding the input's property type to the inpuTType in the model. We can do this for all attributes like disabled, placeholder, name, id, etc., Here we are doing for type -->
<!-- <form> -->
first Name:
<input [type]="inputType" #firstName placeholder="enter first name" />
<hr />
<!-- 1.2 Event Binding - One way data flow from .html to .ts within a component -->
<h2>Event Binding</h2>

<button (click)="showMe = true">Show Me</button>
<button (click)="setMessage(firstName.value)">Show Me With Message</button>
<button (click)="showMe = false">Hide Me</button>
<!-- here we can call a function from model and pass values to it or we can just modify it on the go as shown below.. -->
<!-- </form> -->
<h3 *ngIf="showMe">Hello {{ message }}.., I'm Shown</h3>

<hr />
<!-- 2. Two Way Data Binding - Two way data flow from .ts to .html  and vice versa within a component -->
<h2>ngModel:</h2>

<!-- Inorder to work with ngModel, you need to import { FormsModule } from '@angular/forms'; and it to imports field in app.module.ts  -->

Last Name:
<input
  type="text"
  [(ngModel)]="lastName"
  name="last Name"
  id=""
  placeholder="last Name"
/>

<div>My Last name is: {{ lastName }}</div>

<hr />

<h2>Pipes in Angular!!</h2>

<!-- UpperCase and Lowercase -->

<p>{{ fullName | titlecase }}</p>
<p>{{ fName | uppercase }}</p>
<p>{{ "Jyothi" | lowercase }}</p>

<!-- Currency -->

<!-- Syntax -->
<!-- {{expression | currency:currencyCode:symbol:digitInfo:locale}} -->
<!-- symbol can be of three types: -->
<!-- 1. code - displays code instead of symbol like USD, EUR -->
<!-- 2. symbol(default) - displays symbol such as $ etc., -->
<!-- 3. symbol-narrow - displays narrow symbol of currency. Some Counntries have 2 symbols for their currency. regular and narrow. For Ex: Canadian dollar CAD has the symbol as CA$ and symbol-narrow as $ -->

<!-- digitInfo -> it is a string in following format: -->
<!-- minIntegerDigits.minFractionDigits-maxFractionDigit -->
<!-- 1. minIntegerDigits -> minimum integers to be displayed. Default value is 1 -->
<!-- 2. minFractionDigits -> minimum number of digits to be displayed after the fraction - Default: 0 -->
<!-- 3. maxFractionDigits - maximum number of digits to be displayed after the fraction - Default: 3 -->

<!-- locale: It is used to set the format followed by a country/language. The locale needs to be registered in root module. -->

<!-- code -> It will disply currency Codes such as INR for rupees and EUR for euros -->

<!-- displays 25000$ -->
<p>{{ 25000 | currency }}</p>

<!-- displays CA$25000.00. Here we are using currencyCode -->
<p>{{ 25000 | currency : "CAD" }}</p>

<!-- displays CAD25000.00. Here we are using symbol code laong with currencyCode -->
<p>{{ 25000 | currency : "CAD" : "code" }}</p>

<!-- displays CA$025,000.00 -->
<p>{{ 25000 | currency : "CAD" : "symbol" : "6.2-3" }}</p>

<!-- displays $25,000.000 -->
<p>{{ 25000 | currency : "CAD" : "symbol-narrow" : "1.3" }}</p>

<!-- displays CA$250,000.000 -->
<p>{{ 250000 | currency : "CAD" : "symbol" : "6.3" }}</p>

<!-- displays 250,000.000 CA$-->
<p>{{ 250000 | currency : "CAD" : "symbol" : "6.3" : "fr" }}</p>

<!-- Dates -->

<!-- Syntax -->

<!-- {{ expression | date:format:timezone:locale}} -->

<!-- format: -->
<!-- 1. medium - MMM d,y,h:mm:ss a (eg: Jan 31,2018,11:05:04 AM) -->
<!-- 1. short - M/d/yy,h:mm a (eg: 1/31/2018,11:05:04 AM) -->
<!-- 1. long - MMMM d,y,h:mm:ss a z (eg: January 31,2018 at 11:05:04 AM GMT+5) -->
<!-- 1. full - EEEE,MMMM d,y,h:mm:ss a z (eg: Wednesday,January 31,2018 at 11:05:04 AM GMT+05:30) -->
<!-- 1. fullDate - EEEE,MMMM d,y (eg: Wednesday,January 31,2018) -->
<!-- 1. longDate - MMMM d,y (eg: January 31,2018) -->
<!-- 1. mediumDate - MMM d,y (eg: Jan 31,2018) -->
<!-- 1. shortDate - M/d/yy (eg: 1/31,18) -->
<!-- 1. mediumTime - h:mm:ss a (eg: 11:05:04 AM) -->
<!-- 1. shortTime - h:mm a (eg: 11:05 AM) -->
<!-- 1. longTime - h:mm a (eg: 11:05 AM GMT +5) -->
<!-- 1. fullTime - h:mm:ss a zzzz (eg: 11:05:04 AM GMT +05:30) -->

<!-- timezone: It is used for formatting, For EX: '+0430' (4 hours, 30 minutes east of the Greenwich meridian). If not specified, the local system timezone of the end users browser will be displayed-->

<!-- locale: It is used to set the format followed by a country or language. To use the locale register the locale in root module -->

<!-- displays Jun 2, 2017 -->
<p>{{ "6/2/2017" | date }}</p>
<!-- displays Jun 2, 2017, 11:30:45 AM -->
<p>{{ "6/2/2017, 11:30:45 AM" | date : "medium" }}</p>
<!-- displays 3045 -->
<p>{{ "6/2/2017, 11:30:45 AM" | date : "mmss" }}</p>
<!-- displays mercredi 31 janvier 2018 -->
<p>{{ "1/31/2018, 11:05:04 AM" | date : "fullDate" : "0" : "fr" }}</p>
<!-- displays Jan 2, 1970 - date pipe will start from Jan 1, 1970 and based on the given number of milliseconds, it displays the date -->
<p>{{ "90000000" | date }}</p>

<!-- Percentages -->

<!-- Syntax: {{expression | percent:digitInfo:locale}} -->
<!-- digitInfo:  -->
<!-- digitInfo -> it is a string in following format: -->
<!-- minIntegerDigits.minFractionDigits-maxFractionDigit -->
<!-- 1. minIntegerDigits -> minimum integers to be displayed. Default value is 1 -->
<!-- 2. minFractionDigits -> minimum number of digits to be displayed after the fraction - Default: 0 -->
<!-- 3. maxFractionDigits - maximum number of digits to be displayed after the fraction - Default: 3 -->

<!-- locale: It is used to set the format followed by a country/language. The locale needs to be registered in root module. -->

<!-- dispays 10% -->
<p>{{ 0.1 | percent }}</p>
<!-- displays 10.00% -->
<p>{{ 0.1 | percent : "2.2-3" }}</p>
<!--  displays 10.00 % -->
<p>{{ 0.1 | percent : "2.2-3" : "fr" }}</p>

<!-- slice pipe: It is used to extract a substring from an array of strings -->
<!-- Syntax: {{ expression | slice:start:end}} -->
<!-- the expression can be array of strings -->

<!-- start -> starting position in an array or string to extract items. It can be a: -->
<!-- 1. positive integer -> will extract the given position till end -->
<!-- 1. negative integer -> will extract the given number of items from the end -->

<!-- end: represents the position in an array or string for extracting items. It can be: -->
<!-- 1. positive integer -> will returns all the items before the end index -->
<!-- 1. negative integer -> will returns all items before the end index from the end of the array or string -->

<!-- displays c,d -->
<p>{{ ["a", "b", "c", "d"] | slice : 2 }}</p>
<!-- displays b,c -->
<p>{{ ["a", "b", "c", "d"] | slice : 1 : 3 }}</p>
<!-- will displays top -->
<p>{{ "Laptop Charger" | slice : 3 : 6 }}</p>
<!-- will displays rger -->
<p>{{ "Laptop Charger" | slice : -4 }}</p>
<!-- will displays rg -->
<p>{{ "Laptop Charger" | slice : -4 : -2 }}</p>

<!-- Number - This Pipe can be used to format a number -->
<!-- syntax: {{ expression | number:digitInfo }} -->

<!-- digitInfo:  -->
<!-- digitInfo -> it is a string in following format: -->
<!-- minIntegerDigits.minFractionDigits-maxFractionDigit -->
<!-- 1. minIntegerDigits -> minimum integers to be displayed. Default value is 1 -->
<!-- 2. minFractionDigits -> minimum number of digits to be displayed after the fraction - Default: 0 -->
<!-- 3. maxFractionDigits - maximum number of digits to be displayed after the fraction - Default: 3 -->

<!-- display 25000 -->
{{ 25000 | number }}
<!-- displays 25,000.000 -->
{{ 25000 | number : ".3-5" }}

<h2>Parent Child Communication - Nested Components</h2>

<!-- Nested component is a component that is loaded into another component -->
<!-- The Component Where another component is loaded onto is called as parent/container component -->
<select #courseData (change)="setCourseDetails(courseData.value)">
  <option [value]="0">none</option>
  <option [value]="course.courseId" *ngFor="let course of courses">
    {{ course.name }}
  </option>
</select>
{{ courseData.value }}
<app-parent-to-child
  [cName]="selectedCourse"
  [recFinished]="recentlyFinished"
></app-parent-to-child>
<h2>Child to Parent</h2>
<app-child-to-parent
  (parentFunc)="displayRegisteredCourse($event)"
></app-child-to-parent>
